
<div class="col-12 col-md-11 col-ld-10 mx-auto text-center pb-mini">
  <h5 class="H5_SUBTITLE">Almost done...</h5>
  <h2 class="H2_Product">Contact &amp; Delivery details</h2>
  <p class="lead m-0">
    We just need a few details before we can finalise your order. We promise to treat these details with respect!
  </p>
  <p>
    (We need at least 2-4 weeks to fulfil an order)
  </p>
  <div class="row pt-mini">
    <div class="col-12 col-lg-6 form-group">
      <label class="h5 text-small">Email</label>
      <div class="mb-3" style="font-size: 12px; margin-top: -4px;">For order updates...no spam, promise</div>
      <input class="form-control text-center" id="event-email" placeholder="Best email" type="email">
      <div class="border-danger text-danger p-2 text-center" id="bestEmailError"></div>
    </div>
    <div class="col-12 col-lg-6 form-group">
      <label class="h5 text-small">Mobile</label>
      <div class="mb-3" style="font-size: 12px; margin-top: -4px;">For delivery updates or in case we need to discuss your order</div>
      <input class="form-control text-center" id="event-mobile" placeholder="Best mobile" type="text">
      <div class="border-danger text-danger p-2 text-center" id="bestMobileError"></div>
    </div>
    
    <div class="col-12 col-lg-6 form-group">
      <label class="h5 text-small">Company Name</label>
      <div class="mb-3" style="font-size: 12px; margin-top: -4px;">This helps us match logos to future orders</div>
      <input class="form-control text-center" id="event-company" placeholder="Company name" type="text">
      <div class="border-danger text-danger p-2 text-center" id="companyError"></div>
    </div>
    <div class="col-12 col-lg-6 form-group">
      <label class="h5 text-small">ABN</label>
      <div class="mb-3" style="font-size: 12px; margin-top: -4px;">To help with admin</div>
      <input class="form-control text-center" id="event-ABN" placeholder="Your ABN" type="text">
      <div class="border-danger text-danger p-2 text-center" id="ABNError"></div>
    </div>
    
    <!-- New event date field -->
    <div class="col-12 col-lg-6 form-group" id="datecontainer">
      <label class="h5 text-small mb-0 pb-0">Required by</label>
      <div class="mb-3" style="font-size: 12px; margin-top: -4px;">We need at least <span id="leadTime">4 weeks to fulfil custom</span> orders.</div>
      <input class="form-control text-center" id="event-date" placeholder="Select your date" type="date" min="">
      <div class="border-danger text-danger p-2 text-center" id="eventDateError"></div>
    </div>
    
    
  </div>
</div>

<div class="col-12">
  <hr>
</div>



