<div class="col-md-12- col-md-9 col-md-8- ctm_tabs_upload mt-5- ctm_pl_pr_sm0 pt-3 {{ ctmClass }}">
  <h2  class="ctmAvenirNext ctmLabelArtworkUpload ctmSecFontUpCase ctm_sub_heading2_font">Upload Label Artwork</h2>
  {% comment %}
  Upload-Lift widget element container
  {% endcomment %}
  <p class="lead" style="font-size: 15px; text-align: center; padding-top: 20px; padding-bottom: 10px">
    We accept JPG, PNG, EPS or PDF. Our designer will get back to you with a proof within 48hrs of purchase. If you have any questions feel free to call <a href="tel:1300872306">1300 872 306</a>.
  </p>
  <div class="upload-lift"></div>
  <div class="logo_field w-100 pt-4- pt-2"></div>

  <div class="mb-4 ctmFileUploadProvideLater d-flex justify-content-center align-items-baseline">
    <input type="checkbox" class="providelaterCheckbox mr-2" id="check_later_{{ ctmUploadFieldName | downcase }}" name="{{ ctmProvideLaterText }}">
    <label for="check_later_{{ ctmUploadFieldName | downcase }}" style="font-weight: 400">I'll provide the artwork to you later (We will call you to help & confirm)
  </div>

  {% comment %} <p class="ctm_font_weight- ctm_paragraph1_font mb-3">Label size is 115mm wide by 50mm high. We accept JPG, PNG, EPS or PDF</p>
  <p class="ctm_font_weight- ctm_paragraph1_font mb-2">Our designer will get back to you with a proof within 48hrs of purchase.If you have any question feel free to call 1300 872 306.</p>
  <p class="ctm_font_weight- ctm_paragraph1_font text-sm m-0">NOTE: The Cocktail Type, Ingredients and Mandatory Alcohol information are located on a small clear sticker on the back of the bottle.</p>
  <div class="my-3 ctm_sub_heading2_font">
    <a href="https://www.canva.com/design/DAGQgF2Cpds/uKNPlYK4cZmpQIGEABtfKg/view?utm_content=DAGQgF2Cpd
s&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink&mode=preview
USE OUR TEMPLATE  LINK" class="ctm_sub_heading2_font">USE OUR TEMPLATE  LINK</a>
  </div> {% endcomment %}

</div>