/* ====== KLAVIYO FORM ====== */
.klaviyo-form #email_signup {
	max-width: 100%;
}

.klaviyo-form .klaviyo-form-version-cid_1 {
	padding: 0 !important;
}

.klaviyo-form .klaviyo-form-version-cid_1 input {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 20px;
}

.klaviyo-form .klaviyo-form-version-cid_1 .jKTRQF {
	width: 40px !important;
}

.klaviyo-form #email_signup {
  max-width: 100%;
}

.klaviyo-form .klaviyo-form-version-cid_1 {
  padding: 0 !important;
}

.klaviyo-form .klaviyo-form-version-cid_1 input {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px;
}

.klaviyo-form .klaviyo-form-version-cid_1 .jKTRQF {
  width: 40px !important;
}

/* .klaviyo-form > .needsclick {
  display: grid;
  place-items: center;
} */

.klaviyo-form .klaviyo-form-version-cid_1 form button {
  line-height: unset!important;
}

.klaviyo-form .klaviyo-form-version-cid_1 form {
  float: unset!important;
}

@media (min-width: 992px) {
  .klaviyo-form #email_signup {
    max-width: 400px;
  }
}

/* collection page */
.template--collection .layout--template {
    padding-block-start: 4rem;
}

/* carousel */
/* .carousel--dot-container {
  position: absolute;
  bottom: 0;
  right: var(--spacing--section--x);
} */

a.stacked-text--wrapper {
  text-decoration: none!important;
}

.stacked-text--root {
  flex-direction: column;
}

/* .stacked-text--button {
  width: 100%;
} */

/* .stacked-text--wrapper {
  width: 100%;
} */